<strong>Olá, {{ deliveryman }}</strong>
<p>Informamos que a entrega do produto: {{delivery.product}}, foi cancelada</p>
<p>No endereço abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{recipient.name}}<br>
  <strong>Rua: </strong> {{recipient.street}}<br>
  <strong>Número: </strong> {{recipient.number}}<br>
  <strong>Complemento: </strong> {{recipient.complement}}<br>
  <strong>CEP: </strong> {{recipient.post_code}}<br>
  <strong>Estado: </strong> {{recipient.state}}<br>
  <br/>
</p>
