<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova entrega foi alocada para você, no seguinte endereço:</p>
<p>
  <strong>Destinatário: </strong> {{recipient.name}}<br>
  <strong>Rua: </strong> {{recipient.street}}<br>
  <strong>Número: </strong> {{recipient.number}}<br>
  <strong>Complemento: </strong> {{recipient.complement}}<br>
  <strong>CEP: </strong> {{recipient.post_code}}<br>
  <strong>Estado: </strong> {{recipient.state}}<br>
  <br/>
  <small>
    Lembre de nos informar se tiver algum problema com a entrega!
  </small>
</p>
